@charset "utf-8";

/*Fuente del sitio*/
@font-face {
	font-family: "DancingScript";
	src: url(../fuentes/DancingScript-Regular.otf);
}

/*Cuerpo del sitio*/
body{
	font-family: "DancingScript";
	color:white;
	background: black;
}

/*Contenido del sitio*/
.contenido{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*Cabecera del Sitio*/
.cabecera{
	background: #5b7989;
	border-radius: 10px 10px 0 0;
	width: 100%;
}

/*Titulo del sitio*/
header> h1{
	text-align: left;
	color: white;
	text-shadow: 2px 2px #02010a;
	margin-left: 2%;
}

/*Navegación del sitio*/
.nav{
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 3vh;
}

/*Links del sitio*/
a{
	display: inline;
	color: white;
	text-align: center;
	padding: 3%;
}

.nav navbar .active{
	text-decoration: none;
}

.imagen-secundaria p a{
	font-size: 1.2em;
	color: black;
}

/*Imágenes del sitio*/
/*Imágenes de index*/

img{
	box-shadow: 2px 2px #02010a;
	margin: 2%;
}

.imagen-central{
	align-content: center;
	width: 100%;
	background: #82c3a6;
}

#imgc{
	width: 70%;
}

.imagen-secundaria{
	align-content: center;
	width: 100%;
	background: #d5c75f;
	border: 1px solid black;
}

#imgi{
	width: 90%;
}

#imgi:hover{
	-webkit-transform: rotate(10deg); /*Chrome, Safari y Opera*/
	-ms-transform: rotate(10deg); /*IE*/
	transform: rotate(10deg);
	box-shadow: 2px 2px #82c3a6;
}

#imgd{
	width: 90%;
}

#imgd:hover{
	-webkit-transform: translate(20px,-5px); /*Chrome, Safari y Opera*/
	-ms-transform: translate(20px,-5px); /*IE*/
	transform: translate(20px,-5px);
	box-shadow: 2px 2px #82c3a6;
}

/*Imágenes de Paisajes y Retratos*/

.paisajes, .retratos{
	width: 100%;
	background: #d5c75f;
}
.fila1{
	width: 100%;
	background: #d5c75f;
}

#brujas, #ibiza{
	width: 90%;
	-webkit-filter: blur(10px); /*Chrome, Safari y Opera*/
	filter: blur(10px);
}

#bruselas, #sevilla, #valencia, #madrid, #foro, #zaragoza{
	width: 90%;
	-webkit-filter: grayscale(100%); /*Chrome, Safari y Opera*/
	filter: grayscale(100%);
}

#sebastian, #coliseo{
	width: 90%;
	-webkit-filter: sepia(90%); /*Chrome, Safari y Opera*/
	filter: sepia(90%);
}

#toledo, #ibiza2{
	width: 90%;
}

/*Pie de página*/
.pie{
	width: 100%;
	height: auto;
	background: #C6d5c5;
	border-radius: 0 0 10px 10px;
	color: black;
}

footer{
	width: 100%;
	text-align: center;
}

.pie ul li{
	list-style: none;
	text-align: justify;
}

.pie a{
	color: black;
	font-size: 1em;
}

.pietitulo{
	width: 100%;
}

li> img{
	width: 15px;
	box-shadow: none;
}


/*Para desktop*/
@media (min-width:900px) {

	.contenido{
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.cabecera{
		display: -webkit-flex; /*Chrome, Safari, Opera*/
		display: -ms-flex; /*IE*/
		display: flex;
		-webkit-flex-direction: row; /*Chrome, Safari, Opera*/
		-ms-flex-direction: row; /*IE*/
		flex-direction: row;
		-webkit-flex-flow: nowrap; /*Chrome, Safari, Opera*/
		-ms-flex-flow: nowrap; /*IE*/
		flex-flow: nowrap;
	}
	
	.titulo{
		width: 65%;
	}
	
	.nav{
		width: 35%;
		margin-top: auto;
		margin-left: auto;
	}
	
	.imagen-secundaria{
		width: 100%;
		display: -webkit-flex; /*Chrome, Safari, Opera*/
		display: -ms-flex; /*IE*/
		display: flex;
		-webkit-flex: row nowrap; /*Chrome, Safari, Opera*/
		-ms-flex: row nowrap; /*IE*/
		flex: row nowrap;
	}
	
	.fila1{
		display: -webkit-flex; /*Chrome, Safari, Opera*/
		display: -ms-flex; /*IE*/
		display: flex;
		width: 100%;
	}
	
	.fila2{
		display: -webkit-flex; /*Chrome, Safari, Opera*/
		display: -ms-flex; /*IE*/
		display: flex;
		width: 100%;
	}
	
	.img1{
		width: 33%;
	}
	
	.img3{
		width: 33%;
	}

	.img2, .img4, .img6{
		width: 33%;
	}

	.img5{
		width: 33%;
	}
	
	.pie{
		width: 100%;
		display: -webkit-flex; /*Chrome, Safari, Opera*/
		display: -ms-flex; /*IE*/
		display: flex;
		-webkit-flex-direction: column; /*Chrome, Safari, Opera*/
		-ms-flex-direction: column; /*IE*/
		flex-direction: column;
		-webkit-flex-flow: nowrap; /*Chrome, Safari, Opera*/
		-ms-flex-flow: nowrap; /*IE*/
		flex-flow: nowrap;
	}
	
	.contacto{
		display: -webkit-inline-flex; /*Chrome, Safari, Opera*/
		display: -ms-inline-flex; /*IE*/
		display: inline-flex;
		width: 24.5%;
		order: 1;
		
	}
	
	.terminos{
		display: -webkit-inline-flex; /*Chrome, Safari, Opera*/
		display: -ms-inline-flex; /*IE*/
		display: inline-flex;
		width: 24.5%;
		order: 2;
	}
	
	.redes{
		display: -webkit-inline-flex; /*Chrome, Safari, Opera*/
		display: -ms-inline-flex; /*IE*/
		display: inline-flex;
		width: 24.5%;
		order: 3;
	}
	
	.derechos{
		display: -webkit-inline-flex; /*Chrome, Safari, Opera*/
		display: -ms-inline-flex; /*IE*/
		display: inline-flex;
		width: 24.5%;
		order: 4;
	}
	
}

/*Para móviles*/
@media (max-width:899px) {
	
	.contenido{
		max-width: 100%;
	}
	
	.cabecera{
		display: -webkit-flex; /*Chrome, Safari, Opera*/
		display: -ms-flex; /*IE*/
		display: flex;
		-webkit-flex-direction: row; /*Chrome, Safari, Opera*/
		-ms-flex-direction: row; /*IE*/
		flex-direction: row;
		-webkit-flex-flow: column; /*Chrome, Safari, Opera*/
		-ms-flex-flow:column; /*IE*/
		flex-flow: column;
	}
	
	.cabecera{
		animation: header 3s;
	}
	
	.titulo{
		width: 100%;
	}
	
	.nav{
		width: 100%;
	}
	
	a{
		padding: 1%;
	}
	
	h1{
		text-align: center !important;
	}
	
	#imgc{
		width: 90%;
	}
	
	#imgi, #imgd{
		margin-right: 5%;
	}
	
	.pie{
		width: 100%;
		display: -webkit-flex; /*Chrome, Safari, Opera*/
		display: -ms-flex; /*IE*/
		display: flex;
		-webkit-flex-direction: row; /*Chrome, Safari, Opera*/
		-ms-flex-direction: row; /*IE*/
		flex-direction: row;
		-webkit-flex-flow: column; /*Chrome, Safari, Opera*/
		-ms-flex-flow:column; /*IE*/
		flex-flow: column;
	}
	
	.contacto{
		width: 100%;
		
	}
	
	.terminos{
		width: 100%;
	}
	
	.redes{
		width: 100%;
	}
	
	.derechos{
		width: 100%;
	}
	
	.pie ul{
		padding-left: 40%;
	}
	
	.pie ul li{
	list-style: none;
	}
}

/*Animación para móvil*/
@-webkit-keyframes header{

	0%{
		margin-top: 150%;
	}

	60%{
		margin-top: -5%;
	}

	100%{
		margin-top: 0%
	}
}