@charset "utf-8";

/*Fuente del sitio*/
@font-face {
	font-family: "DancingScript";
	src: url(../fuentes/DancingScript-Regular.otf);
}

body{
	font-family: "DancingScript";
	background: black;
}

.contenido{
	text-align: center;
}

.cabecera {
	background: #5b7989;
	border-radius: 10px 10px 0 0;
	width: 100%;
}

header> h1{
	text-align: left;
	color: white;
	text-shadow: 2px 2px #02010a;
}

/*Para desktop*/
@media (min-width:900px) {

	.contenido{
		max-width: 900px;
	}
	
	navbar a{
		text-align: right;
		text-decoration: none;
		color: white;
	}
}

/*Para móviles*/
@media (max-width:899px) {
	
	.contenido{
		max-width: 100%;
	}
}